@{
    ViewData["Title"] = "Home Page";
}

  <main class="background-section">
    <div class="overlay"></div>
    <div class="content">
      <div class="hero-text">
        <h1>Welcome to <br><span>CourseDash</span></h1>
        <p>Explore majors, evaluate scores, and connect with academic advisors</p>
      </div>

      <section class="features">
      <a asp-controller="Home" asp-action="About" style="text-decoration: none;">
        <div class="card">
          <img src="https://img.icons8.com/ios-filled/50/classroom.png" alt="About Us" />
          <h3>About Us</h3>
          <p>Access the about us page, and the data model we used to desgin our web app</p>
        </div>
      </a>
        <a asp-controller="Home" asp-action="Read" style="text-decoration: none;">
            <div class="card">
                <img src="https://img.icons8.com/ios-filled/50/pie-chart.png" alt="Analytics" />
                <h3>Data</h3>
                <p>Use data-driven insights to improve course management and planning</p>
            </div>
        </a>

        <a asp-controller="Home" asp-action="SatForm" style="text-decoration: none;">
            <div class="card">
                  <img src="https://img.icons8.com/ios-filled/50/edit-file.png" alt="CRUD Actions" />
                <h3>Want to talk to an Advisor?</h3>
                <p>Request a meeting with the advisor</p>
            </div>
        </a>

          </div>
        
      </section>
    </div>
  </main>
